---
layout: default
---  

<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/style-post.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="navigation">
  <div class="logo-container">
    <a href="{{ site.url }}" style="text-decoration: none; color: black;">
      <img src="{{ site.url}}/images/logoBlack.svg">
      SportAI
    </a>
  </div>
</div>

<h1>{{ page.title }}</h1>
<section class="content">
  {{ content }}
</section>

<div class="social-buttons">
  <a href="https://www.facebook.com/SportAIOfficial/" target="_blank"><img src="{{ site.url }}/images/facebook.png" class="opacity-hover"></a>
  <a href="https://www.instagram.com/sportaiofficial/" target="_blank"><img src="{{ site.url }}/images/instagram.png" class="opacity-hover"></a>
  <a href="https://twitter.com/SportAIOfficial" target="_blank"><img src="{{ site.url }}/images/twitter.png" class="opacity-hover"></a>
  <a href="https://discord.gg/r5MtJ53ppE" target="_blank"><img src="{{ site.url }}/images/discord.png" class="opacity-hover"></a>
</div>

<style>
  .social-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
    padding: 20px;
    background: linear-gradient(90deg, #91aecb -43%, rgba(255, 255, 255, 0.949) 34%, rgba(240, 244, 255, 0.944) 102.58%, #ffffff 188%);
    border-radius: 200px;
    border: 0.5px solid rgb(190, 190, 190);
    align-items: center;
  }
  
  .social-buttons > * {
    text-align: center;
    display: inline-block;
  }
  
  .opacity-hover {
    transition: opacity 0.1s;
    max-width: 20px;
    padding: 8px;
  }
</style>