<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/style-post.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="navigation">
  <div class="logo-container">
    <a href="{{ site.url }}" style="text-decoration: none; color: black;">
      <img src="{{ site.url}}/images/logoBlack.svg">
      SportAI
    </a>
  </div>
</div>

<h1>{{ page.title }}</h1>
<section class="content">
  {{ content }}
</section>

<div class="social-buttons">
  <a href="https://www.facebook.com/SportAIOfficial/" target="_blank"><img src="{{ site.url }}/images/facebook.svg" class="opacity-hover"></a>
  <a href="https://www.instagram.com/sportaiofficial/" target="_blank"><img src="{{ site.url }}/images/instagram.svg" class="opacity-hover"></a>
  <a href="https://twitter.com/SportAIOfficial" target="_blank"><img src="{{ site.url }}/images/twitter.svg" class="opacity-hover"></a>
</div>

<style>
    .social-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin: 0 auto;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(217, 219, 226, 0.678);
    border-radius: 200px;
    border: 0.5px solid rgb(190, 190, 190);
  }
</style>